/* Change background color and font family */
body {
    background-image: url('http://i.imgur.com/i3Uq8GV.jpg');
    font-family: Roboto,sans-serif;
}

/* Change Width and Height of Logo Image + Add Custom Image File */
.login h1 a {
    display:none;
}

/* Add a few changes to the color and style of form itself */
.login form{
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('http://i.imgur.com/o9FYvnL.png');
    background-repeat:no-repeat;
    padding: 100px 30px 30px 30px;
    box-sizing: border-box;
}

.login label {
    color: white;
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
}

.login p {
    color:black;
}

.login form .input {
    font-weight: normal;
}

.login #backtoblog a, .login #nav a {
    color: white;
}

.wp-core-ui .button-primary {
    background: #9B0909;
    border: none;
    border-bottom: white solid 2px;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0%;
}
.wp-core-ui .button-primary:hover {
    background: white;
    color: black;
    border-bottom: #9B0909 solid 2px;
}
.login #nav {
    padding: 24px 0 0 24px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.login #backtoblog {
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
}
